<html ng-app="angularRoutingApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="css/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/materialdesignicons.min.css" media="all" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <title>BPD Conserje</title>
    </head>
    <body ng-controller="mainController">
        <div class="main">
            <header>
                <div class="logo"><img src="img/logo.png"/></div>
                <div class="emergency" ng-click="template.emergencyStatus('ng-show')"><a href="" id="menuBtn"><i class="mdi mdi-alert"></i></a></div>
                <div class="alert" ng-click="template.notifyStatus('ng-show')"><a href="" id="menuBtn"><i class="mdi mdi-bell"></i></a></div>
                <div class="find" ng-click="template.finderStatus('ng-show')"><a href="" id="menuBtn"><i class="mdi mdi-magnify"></i></a></div>
            </header>
            <nav>
                <div class="menu" ng-click="toggleMenu()">
                    <a href="" id="menuBtn">
                        <span>{{template.title}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="profile"><i class="mdi mdi-account"></i></div>                
            </nav>
            <section id="main">
                <article>
                    <div ng-view></div>
                </article>
            </section>            
            <div class="menu_column {{template.menuStatus}}" ng-include src="'pages/menu.html'"></div>
            <div class="finder {{template.finder}}" ng-include src="'pages/finder.html'"></div>
            <div class="emergencyContainer {{template.emergency}}" ng-include src="'pages/emergency.html'"></div>
            <div class="notifyContainer {{template.notify}}" ng-include src="'pages/notify.html'"></div>
            <footer></footer>
        </div>
        <!-- Angular Material Dependencies -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-material.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
