<div class="mainCard">
    <div class="title">
        <span class="logo"><img src="img/logo.png" width="25"/></span>
        <span class="stitle">Comunicación Interna</span>
        <span class="time">1 Día</span>
    </div>
    <div class="desc">Nueva app Popular que nos mantiene más cerca de nuestros clientes... </div>
    <div class="media">
        <img src="img/imgCard.png" ng-click="template.showPicture('img/imgCard.png')"/>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-thumbs-up"></i></a>
        <a href=""><i class="fa fa-comments-o"></i></a>
    </div>
</div>

<div class="mainCard">
    <div class="title">
        <span class="logo"><img src="img/logo.png" width="25"/></span>
        <span class="stitle">Auto Feria Popular</span>
        <span class="time">1 Día</span>
    </div>
    <div class="desc">Nueva app Popular que nos mantiene más cerca de nuestros clientes... </div>
    <div class="media">
        <img src="img/autoferia.jpg" ng-click="template.showPicture('img/autoferia.jpg')"/>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-thumbs-up"></i></a>
        <a href=""><i class="fa fa-comments-o"></i></a>
    </div>
</div>

<div class="mainCard">
    <div class="title">
        <span class="logo"><img src="img/logo.png" width="25"/></span>
        <span class="stitle">Cajeros</span>
        <span class="time">1 Día</span>
    </div>
    <div class="desc">Nueva app Popular que nos mantiene más cerca de nuestros clientes... </div>
    <div class="media">
        <img src="img/tarjetas.jpg" ng-click="template.showPicture('img/tarjetas.jpg')"/>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-thumbs-up"></i></a>
        <a href=""><i class="fa fa-comments-o"></i></a>
    </div>
</div>

<div class="mainCard">
    <div class="title">
        <span class="logo"><img src="img/logo.png" width="25"/></span>
        <span class="stitle">Cajeros</span>
        <span class="time">1 Día</span>
    </div>
    <div class="desc">Nueva app Popular que nos mantiene más cerca de nuestros clientes... </div>
    <div class="media">
        <img src="img/cajeros.jpg" ng-click="template.showPicture('img/cajeros.jpg')"/>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-thumbs-up"></i></a>
        <a href=""><i class="fa fa-comments-o"></i></a>
    </div>
</div>

