* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a {
    text-decoration: none;
    color: #333333;    
}

a:hover,
a:visited {
    color: #333333;    
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E9E9E9;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

header {
    background-color: #003B7A;
    height: 64px;
    width: 100%;
    border-bottom: solid 8px #FF9900;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;    
}

header .logo {
    float: left;
    margin: 16px 16px;
}

header .find,
header .alert,
header .emergency {
    float: right;
    margin-left: 25px;
    margin-top: 22px;
}

header .emergency {
    margin-right: 16px;
}

header a,
header a:hover,
header a:visited {
    color: #FFFFFF;
}

header .logo img {
    width: 35px;
}

nav {
    background-color: #FFFFFF;
    height: 35px;
    width: 100%;
}

nav div {
    float: left;
    height: 100%;
}

nav .menu {
    width: 80%;
    border-right: 1px solid #A8A8A8;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 14px;
    line-height: 35px;
    padding-left: 16px;
    box-sizing: border-box;
    color: #333333;
    font-weight: bold;
}

nav .menu i {
    float: right;
    line-height: 35px;
    margin-right: 24px;
    color: #A8A8A8;
}


nav .profile {
    float: right;
    width: 20%;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    color:  #A8A8A8;
    font-size: 27px;
}

.main .mainCard,
.main .familyCard{
    background-color: #FFFFFF;
    padding: 16px;
    margin-bottom: 20px;
}

.main .mainCard .title,
.main .mainCard .desc,
.main .mainCard .media, 
.main .mainCard .social
.main .familyCard .dayCare .media,
.main .familyCard .schoolBus .media{
    width: 100%;
    margin: 0 auto;
}    

.main .mainCard .title {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}

.main .mainCard .title .logo {
    float: left;
}

.main .mainCard .title .stitle {
    font-weight: bold;
    margin-left: 5px;
}

.main .mainCard .title .time {
    float: right;
}

.main .mainCard .desc,
.main .familyCard .dayCare .media,
.main .familyCard .schoolBus .media{
    margin: 10px 0;
}

.main .mainCard .media {

}

.main .mainCard .media img {
    width: 100%;
}

.main .mainCard .social {
    width: 100%;
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    color: #003B7A;
}

.main .mainCard .social a,
.main .mainCard .social a:hover,
.main .mainCard .social a:visited {
    color: #003B7A;
}

.main .mainCard .social i {
    margin-left: 5px;
}

section article{
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    top: 120px;
    right: 0;
    bottom: 25px;
    left: 0;
}

section ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 1%;
    margin-top: 40px;
}

section ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 32%;
    margin-bottom: 40px;
}

section ul li a {
    width: 100% !important;
    text-align: center;
    height: 80px;
    margin: 0;
    line-height: 80px;
    display: inline-block;
}

.bg_translucent {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.menu_column {
    position: absolute;
    top: 109px;
    left: 0;
    right: 0;
    bottom: 25px;
    background-color: #FFFFFF;
    font-size: 20px;
    box-sizing: border-box;
    color: #333333;
    padding-top: 16px;
    overflow: hidden;
    overflow-y: auto;
}

.menu_column .content {
    box-sizing: border-box;
}

.menu_column .menuItem {
    margin-left: 20px;
}

.menu_column .menuItemList {
    clear: both;
}

.menu_column .menuItemList a {
    display: block;
}

.menu_column .title {
    margin: 15px 0 15px 0;
    padding: 15px 16px 0 16px;
    border-top: solid 1px #D6D6D6;
    font-weight: bold;
}

.menu_column ul {
    list-style: none;
    margin: 0 16px;
    padding: 0;
}

.menu_column ul li {
    margin-bottom: 15px;
    box-sizing: border-box;
}

.menu_column ul li:hover {
    background-color: #F5F5F5;
}

.menu_column ul li:focus {
    border: none;
}

.menu_column .statusIcon {
    float: right;
    box-sizing: border-box;
    margin-top: 2px;
}

.menu_column .menuItemSub {

}

.menu_column .menuItemSub ul {
    margin: 15px 0 0 42px;
    padding: 0;
}

footer {
    position: absolute;
    background-color: #000;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.main .familyCard{
}

.main .familyCard .dayCare .title{
    font-size: 14px;
    color: #3399CC;
}

.main .familyCard .dayCare .content,
.main .familyCard .schoolBus .content{
    font-size: 10px;
    color: #333333;
}

.main .familyCard .schoolBus .title{
    font-size: 14px;
    color: #FF9900;
}

.main .familyCard .dayCare .media img,
.main .familyCard .schoolBus .media img{
    width: 100%;
}

.finder,
.emergencyContainer,
.notifyContainer,
.pictureViewer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E8E8E8;
    z-index: 999;
}

.finder .header,
.emergencyContainer .header,
.notifyContainer .header {
    width: 100%;
    height: 64px;
    background-color: #003B7A;
    border-bottom: solid 8px #FF9900;
    color: #FFFFFF;
    padding: 16px;
    box-sizing: border-box;
}

.finder .header div,
.emergencyContainer .header div,
.notifyContainer .header div {
    float: left;
    font-size: 20px;
}

.notifyContainer md-card{
    padding-left: 16px;
    position: relative;
}

.notifyContainer h2{
    color: #336699;
    width: 211px;
    font-size: 12px;
    position: absolute;
    top: 6px;
}

.notifyContainer img{
    width: 29%;
    float: right;
    padding-right: 16px;
}

.notifyContainer ul{
    list-style-type: none;
    padding: 0;
}

.notifyContainer ul li{
    display: inline-block;
}

.notifyContainer md-card md-content{
    font-size: 10px;
    width: 230px;
}

.finder .header .back,
.emergencyContainer .header .back, 
.notifyContainer .header .back {
    margin-right: 20px;
    font-size: 28px;
}

.finder .header .field  {
    width: 85%;    
    font-size: 18px;
}

.finder .header .field .mdField {
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;

}

.finder .header .field i{
    margin-right: 10px;
    display: inline-block;
}

.finder .anunTitle {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    font-family: Verdana;
    color: #999999;
}

.emergencyContainer .emergencyContent{
    padding: 16px;
}

.emergencyContainer .btn911 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.emergencyContainer .btn911 img{
    width: 96%;
    box-shadow: 5px 5px 5px #CCC;
}

.emergencyContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.emergencyContainer ul li {
    display: inline-block;
    width: 49%;
    margin-bottom: 3%;

}

.emergencyContainer .emergencyBtn {
    text-align: center;
}

.emergencyContainer .emergencyBtn img {
    width: 153px;
    box-shadow: 5px 5px 5px #CCC;
}


.pictureViewer {
    background:url('../img/campamento.jpg') no-repeat center center;
    min-height:100%;
    background-size:contain;
    background-color: #000;
    z-index: 998;
}

.pictureViewer .header,
.pictureViewer .footer {
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;    
    z-index: 999;
    position: absolute;
}

.pictureViewer .header {
    top: 0;
    left: 0;
    right: 0;
    font-size: 25px;
    padding: 16px;
}

.pictureViewer .header .back {
    float: left;
    width: 40%;
    text-align: left;
}

.pictureViewer .header .controls {
    float: right;
    width: 40%;
    text-align: right;
}

.pictureViewer .footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.pictureViewer .footer .title {
    font-size: 18px;
    font-weight: bold;
}

.pictureViewer .footer .body {
    
}

@media only screen and (orientation: landscape) {
    .pictureViewer {
        background-size:cover;
    }
}

/////////////////////////////////////////////////////////////////////////////////


.bpd-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
}

.bpd-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.bpd-show-hide.ng-hide {
    opacity:0;
}